@using Nucleo.CrazyTruck
@model List<Operador>
@{
    ViewBag.Title = "Lista";
}

<h2>Operadores</h2>
<br />

<label for="operadorNombre">Nombre:</label>
<input type="text" id="operadorNombre" name="operadorNombre" />

<label for="operadorApellido">Apellido:</label>
<input type="text" id="operadorApellido" name="operadorApellido" />

<label for="operadorDireccion">Direccion:</label>
<input type="text" id="operadorDireccion" name="operadorDireccion" />

<label for="operadorCurp">CURP:</label>
<input type="text" id="operadorCurp" name="operadorCurp" />

<label for="operadorNumLicencia">Num Licencia:</label>
<input type="text" id="operadorNumLicencia" name="operadorNumLicencia" />

<label for="operadorTelefono">Telefono:</label>
<input type="text" id="operadorTelefono" name="operadorTelefono" />

<label for="operadorNumOperador">Num Operador:</label>
<input type="text" id="operadorNumOperador" name="operadorNumOperador" />

<label for="operadorNss">Nss:</label>
<input type="text" id="operadorNss" name="operadorNss" />

<button type="button" class="btn btn-papu btn-success" onclick="agregarOperador()">Agregar</button>



<div class="table-responsive">

    <table id="tablaAdeudo" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="">
                <th colspan="4" class="text-center">Datos Generales</th>
                <th colspan="5" class="text-center">Detalles</th>
            </tr>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>NSS</th>
                <th>CURP</th>
                <th>NUMOPERADOR</th>
                <th>NUM LICENCIA</th>
                <th>DIRECCION</th>
                <th>TELEFONO</th>

            </tr>
        </thead>

        <tbody id="varo">
            @foreach (Nucleo.CrazyTruck.Operador o in Model)
            {
                if (Model != null)
                {

                    <tr>
                        <td><span id="edFecha">@o.id</span></td>
                        <td><span id="edFecha">@o.nombre</span></td>
                        <td><span>@o.apellido</span></td>
                        <td><span id="edDescripcion">@o.nss</span></td>
                        <td><span id="edCargo">@o.curp</span></td>
                        <td><span>@o.numOperador</span></td>
                        <td><span id="edAbono">@o.numLicencia</span></td>
                        <td><span>@o.direccion</span></td>
                        <td><span>@o.telefono</span></td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>

<script src="~/scripts/operadoreScript.js"></script>