<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CrazyTruck</title>
    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    
    @RenderSection("Styles", false)
    

</head>
<body>
    <div id="main">
        <header>
            <div id="logoSection" class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 left" id="logo">
                        <a href="@Url.Action("Lista", "Fletes")"><h1>CrazyTruck</h1></a>
                    </div>
              @if (HttpContext.Current.Session["nombre"] != null)
              {
                    <div class="col-xs-6 right" id="userOptions">
                       <span id="userID" class="none">0</span><span id="userName">@Session["nombre"].ToString() @Session["apellido"].ToString()</span>
                        <button type="button" id="btnLogOut"><i class="fas fa-power-off" onclick="salir()"></i></button>
                    </div>
              }else{ Response.Redirect("~/Login/Index"); }
                </div>
            </div>
        </header>

        <div id="menu">
            <nav id="menuSection" class="container-fluid">
                <div class="row">
                    <a href="@Url.Action("Lista", "Fletes")">Fletes</a>
                    <a href="@Url.Action("Lista", "Trailers")">Trailers</a>
                    <a href="@Url.Action("Lista", "Remolques")">Remolques</a>
                    <a href="@Url.Action("Lista", "Operadores")">Operadores</a>
                </div>
            </nav>
            <div id="titleSection" class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 left">
                        <h2>Titulo</h2>
                    </div>
                    <div class="col-xs-6 right">
                        <button type="button" id="btnMenu"><i class="fas fa-bars"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div id="content">

            @RenderBody()

        </div>


    </div>


    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    <script src="~/scripts/scripts.js"></script>
    <script src="~/scripts/loginScript.js"></script>
    @RenderSection("JavaScript", false)

</body>
</html>